grant {
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.io.FilePermission "./log.txt", "delete,write";
  permission java.net.SocketPermission "*:1024-65535", "listen,resolve,connect,accept";
  permission java.net.SocketPermission "*:80", "connect";
};